.progress-big{
	height: 40px;
}
.progress-big > div{
	font-size: 30px;
	line-height: 37px;
}

.no-wrap{
	white-space: nowrap;
}

.mt-15{
	margin-top: 15px;
}

body{
	padding-bottom: 100px;
}

.col-left{
	text-align: center;
}
.col-right{
	margin-top: 15px;
	text-align: center;
}

@media (min-width: 768px) {
	

	.col-left{
		text-align: left;
	}
	.col-right{
		margin-top: 0px;
		text-align: right;
	}

}
#contenedor_movimientos{
	max-height: 250px;
	overflow-y: auto;
}

#contenedor_clientes{
	padding-bottom: 100px;
}

.saldo{
	display: block;
	font-size: 17px;
	margin-top: 15px;
}
@media (min-width: 768px) {
	

	.saldo{
		font-size: 22px;
		font-weight: normal;
		float: right;
		margin-top: 10px;
	}
}